---
id: ver-res-1
type: DOCUMENTATION
subType: "Test Results"
title: "Test Report v1.0"
version: v-1
relations:
  - to: ver-tst-1
    type: DOCUMENTS
---
Resultado de la ejecución de pruebas en el pipeline de CI/CD.
* Cobertura: 92%
* Pruebas Unitarias: 154/154 OK
* Pruebas de Integración: 42/42 OK
