---
id: ver-res-1
type: TEST_RESULTS
title: Test Report v1.0
version: v-1
relations:
  - to: ver-tst-1
    type: DOCUMENTS
ownership:
  owner: pcaro
  team: architecture
---
Resultado de la ejecución de pruebas en el pipeline de CI/CD.
* Cobertura: 92%
* Pruebas Unitarias: 154/154 OK
* Pruebas de Integración: 42/42 OK
